# Virtual Environments
venv/
venv_volume/
.venv/
__pycache__/
*.py[cod]
*.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Credentials & Tokens       
credentials.json
token*.pickle
client_secret*.json

# Logs & Temporary Files     
*.log
move_plan_log.txt
tmp/
temp/

# OS Files
Thumbs.db
.DS_Store
.vscode/
.idea/

# User-specific dev files    
@dev/
@dev*
want.txt

# Media / Data folders (Git ignore large data)
JPG/
jpg/
2024/
2025/
